
body {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
}


hr {
  margin: 0;
  border-style: solid;
  color: hsl(240, 5%, 91%);
}

p {
  margin-top: 0;
}

.middle-container {
  background-color: #fff;
  display: grid;
  border-radius: 25px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  z-index: 1;
}

.images-container {
  display: flex;
  align-items: center;
}

.woman-figure, .box {
  position: absolute;
}

.pattern-figure {
  position: relative;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

.pattern {
  display: block;
  margin: 0;
  margin-left: -36rem;
  margin-top: -18.5rem;
  margin-bottom: -10rem;
}

.woman-figure {
  margin: 0;
  overflow: hidden;
  z-index: 3;
}

.woman {
  display: block;
  margin-left: -18%;
}

.box {
  z-index: 4;
  margin-left: -8.1rem;
  margin-top: 3rem;
}

.information-container {
  padding: 60px 100px 60px 0;
  width: 22rem;
  justify-self: end;
}

.top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.faq {
  color: hsl(237, 12%, 33%);
  font-size: 32px;
  margin-bottom: 30px;
}

.accordion {
  background: #fff;
  color: hsl(237, 12%, 33%);
  cursor: pointer; /* cambia el estilo del cursor/puntero cuando se coloca encima del elemento */
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none; /* Al presionar (en este caso el elemento subyacente, el cual es un botón), aparece una linea externa de forma predeterminada, outline: none evita que esti suceda  */
  transition: 0.4s;
}

.accordion:hover {
  color: hsl(14, 88%, 65%);
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  color: hsl(240, 6%, 50%);
}

.accordion, .panel {
  padding-left: 0;
}
