
body {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
}

p {
  color: hsl(240, 6%, 50%);
}

.container {
  background-color: white;
  width: 70%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  border-radius: 25px;
  margin: auto;
}

.information-container {
  width: 35%;
  height: auto;
  padding: 60px 100px 80px 0;
}

.faq {
  margin-bottom: 30px;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.question h4 {
  color: hsl(237, 12%, 33%);
  margin: 0;
}

.faq {
  color: hsl(237, 12%, 33%);
  font-size: 32px;
}

.pattern {
  position: absolute;
  left: -80px;
  z-index: 1;
  width: auto;
  height: 100vh;
}

figure {
  position: absolute;
  margin: 0;
  overflow: hidden;
  left: 15.28%;
  z-index: 2;
}

.woman {
  display: block;
  margin-left: -80px;
}

.box {
  position: absolute;
  left: 8.5%;
  z-index: 3;
  margin-top: 45px;
}

@media (min-width: 375px) {

}
