@import "./config.css";

.attribution {
    font-size: 12px;
    text-align: center;
}

.attribution a {
color: hsl(228, 45%, 44%);
}

.attribution--margin {
    margin: 40px;
}

/*===== PATTERNS =====*/
.top-pattern-mobile, .bottom-pattern-mobile {
    position: absolute;
    z-index: var(--zi-1);
}

.top-pattern-mobile {
    left: 0;
    top: 0;
}

.bottom-pattern-mobile {
    scroll-snap-type: y mandatory;
    top: calc(100% / .735);
    right: 0;
    bottom: 0;
    
}

.pattern-top {
    display: none;
}

.pattern-bottom {
    display: none;
}

/*===== SECTION =====*/
section {
    padding: 3rem 0 0 0;
}

/*===== CONTAINER =====*/
.container {
    /*padding: 6rem 0 0 0;*/
    margin: 0 .7rem 0 .7rem;
}

/*===== NEWS =====*/
.news__title {
    font-weight: var(--hard-weight);
    text-align: center;
    font-size: 2rem;
    color: var(--very-dark-magenta);
}

.news__text {
    text-align: center;
    color: var(--dark-grayish-magenta);
}

/*===== RATES =====*/
.rates-container {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    row-gap: .8rem;
}

.rate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .8rem 0 .8rem 0;
    background-color: var(--light-grayish-magenta);
    border-radius: var(--br-5r);
}

.rate__stars {
    margin: 0 0 .6rem 0;
}

.rate__text {
    margin: 0;
    font-weight: var(--hard-weight);
    color: var(--very-dark-magenta);
}

/*===== CARDS =====*/
.cards-container {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    row-gap: .8rem;
}

.card {
    background-color: var(--very-dark-magenta);
    padding: 1.875rem;
    border-radius: var(--br-5r);
}

.card__header {
    display: flex;
    align-items: center;
}

.card__photo {
    border-radius: 50px;
    width: 2.8125rem;
    height: auto;
}

.card__data {
    margin: 0 0 0 1.25rem;
}

.card__name {
    font-weight: var(--hard-weight);
    color: var(--white);
    margin: 0 0 .3rem 0;
}

.card__ocupation {
    margin: 0;
    color: var(--soft-pink);
}

.card__comment {
    margin: 1.8rem 0 0 0;
    color: var(--light-grayish-magenta);
}

/*===== MEDIA QUERIES =====*/
@media only screen and (min-width: 600px) {
    .top-pattern-mobile, .bottom-pattern-mobile {
        display: none;
    }

    .pattern-top, .pattern-bottom {
        display: block;
        position: absolute;
        z-index: var(--zi-1);
    }

    .pattern-top {
        left: 0;
        top: 0;
    }

    .pattern-bottom {
        right: 0;
        bottom: 0;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        max-width: var(--desktop-width);
        margin: auto;
        z-index: var(--zi-2);
    }

    .news {
        grid-column: span 1;
    }

    .news__title {
        text-align: start;
        font-size: 3rem;
        margin: 0;
    }

    .news__text {
        text-align: start;
        font-size: 1rem;
    }

    .rates {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .rates-container {
        max-width: 35rem;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: repeat(3,1fr);
    }

    .rate1 {
        grid-column: span 8;
    }

    .rate2 {
        grid-column: span 8/10;
    }

    .rate3 {
        grid-column: span 8/11;
    }

    .rate {
        flex-direction: row;
        justify-content: flex-start;
        padding: 1.2rem 1.5rem 1.2rem 1.5rem;
    }

    .rate__stars {
        margin: 0;
    }

    .rate__text {
        margin: 0 0 0 1.25rem;
    }

    .testimonials {
        grid-column: span 2;
    }

    .cards-container {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(10,.2fr);
        column-gap: 1.2rem;
        row-gap: 0;
    }

    .card1 {
       grid-area: 1/1/9/2;
    }

    .card2 {
       grid-area: 2/2/10/3; 
    }

    .card3 {
        grid-area: 3/3/11/4;
    }
}