
.attribution {
    font-size: 12px;
    text-align: center;
}

.attribution a {
color: hsl(228, 45%, 44%);
}

.attribution--margin {
    margin: 40px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

/*------------patterns------------*/


.pattern-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.pattern-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}

/*-------container--------*/

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.container--width {
    width: 1060px;
}

/*------------left------------*/

.top-left__header-text {
    margin-top: 0;
    font-weight: 700;
    font-size: 3.5em;
    margin-bottom: 5px;
    color: hsl(300, 43%, 22%);
}

.top-left__bottom-text {
    font-size: 1.1em;
    width: 30em;
    color: hsl(303, 10%, 53%);
}


/*---------rates---------*/

.rates-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rate {
    display: flex;
    flex-direction: row;
    background-color: hsl(300, 24%, 96%);
    border-radius: 8px;
    width: 360px;
    padding: 20px 25px 20px 25px;
}

.rate__text {
    margin: 0 0 0 20px;
    color: hsl(300, 43%, 22%);
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.rate--mb {
    margin: 0 0 20px 0;
}

.rate--mr30 {
    margin: 0 30px 20px 0;
}

.rate--mr60 {
    margin: 0 60px 20px 0;
}

/*-------------------card---------------------*/

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: 2/1/2/3;
}

.card {
    background-color: hsl(300, 43%, 22%);
    width: 275px;
    border-radius: 8px;
    height: 195px;
    padding: 35px 30px 35px 30px;
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
}

.card__header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card__photo {
    border-radius: 50px;
    width: 45px;
    height: auto;
}

.card__header-text {
    margin: 0 0 0 20px;
}

.card__name {
    margin: 0 0 5px 0;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.card__ocupation {
    margin: 0;
    color: hsl(333, 80%, 67%);
}

.card__comment {
    margin: 30px 0 0 0;
    color: hsl(300, 24%, 96%);
    line-height: 22px;
}

.card--mt20 {
    margin: 20px 0 0 0;
}

.card--mt40 {
    margin: 40px 0 0 0;
}

@media (max-width: 375px) {

    body {
        min-width: 375px;
        height: auto;
        margin: 0;
    }

    .pattern-top, .pattern-bottom {
        visibility: collapse;
        width: 0;
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 2.2fr;
    }

    .container--mobil-top {
        margin: 100px 0 0 0;
    }

    .container--width {
        width: 375px;
    }

    .top-left {
        grid-area: 1/1;
    }

    .top-left--text-align {
        text-align: center;
    }

    .top-left--text-width {
        width: 375px;
    }

    .top-right {
        grid-area: 2/1;
    }

    .rates-container--align-items {
        align-items: center;
    }

    .cards-container {
        grid-area: 3/1;
        flex-direction: column;
    }

    .cards-container--align-items {
        align-items: center;
    }

    .card--mobil-mb {
        margin: 0 0 20px 0;
    }

    .rate--vertical {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 285px;
        margin: 0 0 20px 0;
    }

    .rate__stars--vertical-mb {
        margin: 0 0 8px 0;
    }
}